@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mochiy Pop One", sans-serif;
}

body {
  background-color: #ffffff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 40px;
}

/* User inputs */

input:focus {
  outline: none;
  background-color: #5078dc;
}

input::placeholder {
  opacity: 0.5;
  color: black;
}

.user-input {
  width: 700px;
  height: 45px;
  border: 2px solid #3453bb;
  border-radius: 5px;
  padding-left: 5px;
}

/* Input 1 */
#input-1 {
  background-color: #5078dc;
}

/* Input 2 */
#input-2 {
}
